*.apk
*.ap_
*.aab
*.dex
*.class
/build/
**/build/
.gradle/

local.properties
*.jks
*.keystore
keystore.properties

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/deploymentTargetSelector.xml
.idea/compiler.xml
.idea/AndroidProjectSystem.xml
.idea/runConfigurations.xml
/captures/
.externalNativeBuild/
.cxx/

.DS_Store
Thumbs.db